body {
    background-color: black;
}

h1 {
    margin-top: 3%;
    font-family: "Courier New";
    font-size: 50px;
    color: #fff;
    text-align: center;
}

#links {
    text-decoration: none;
    color: #fff;
}

#first {
    margin-left: 25%;
    margin-top: 5%;
    width: 360px;
    height: 280px;
}

#firsttext {
    display: inline-flex;
    justify-content: center;
    margin-left: 25%;
    width: 360px;
    font-family: "Courier New";
    color: #fff;
    font-size: 35px;
}

#firsttextsub {
    font-family: "Courier New";
    margin-left: 25%;
    max-width: 360px;
    color: #fff;
}

#second {
    display: inline;
    float:right;
    margin-right: 25%;
    margin-top: 5%;
    width: 360px;
    height: 280px; 
}

#secondtext {
    display: inline-flex;
    float:right;
    margin-right: 25%;
    justify-content: center;
    width: 360px;
    font-family: "Courier New";
    color: #fff;
    font-size: 35px;
}

#secondtextsub {
    float: right;
    font-family: "Courier New";
    margin-right: 25%;
    width: 360px;
    color: #fff;
}

#nav {
    font-family: "Courier New";
    color: #fff;
    font-size: 50px;
    margin-top: 400px;
    position: fixed;
}

#navlink {
    display: inline-block;
    width: 190px;
    text-decoration: none;
    color: #fff;
}

#navlink:hover {
    color:black;
    background-color: white;
}