body {
	font-size: 25px;
}

#clicktext {
	cursor: pointer;
}

#bitcoin {
  display: none;
}

#solana {
  display: none;
}

#erc20 {
  display: none;
}

#eth {
  display: none;
}

#trx {
  display: none;
}

#bch {
  display: none;
}

#ltc {
  display: none;
}

#xrp {
  display: none;
}

#xrptag {
  display: none;
}

#bnb {
  display: none;
}

#bnbtag {
  display: none;
}

#doge {
  display: none;
}